#game-zone {
	padding: 1em;
}

#solution-zone {
	position: sticky;
	bottom: 3%;
	width: 70vw;
	margin: auto;
	background-color: black;
	border: 2px solid green;
	border-radius: 0.7em;
	color: green;
	font-size: 2rem;
	height: 3rem;
}

/*
Scroll images
*/

.sample-symbol {
	display: inline-block;
	width: 3.2rem;
	height: 3.2rem;
	margin: 0.7rem;
	font-size: 2.8rem;
	text-align: center;
	overflow: hidden;
	& img {
		width: 2.8rem;
	}
}

.scroll-images {
	display: inline-block;
	/*width: 3em;*/
}

/*
Memory
*/
#memory {
	display: grid;
	column-gap: 1rem;
	row-gap: 1.5rem;
}
	.easy {
		grid-template-columns: repeat(4, 1fr);
		--medium-card-width: 15vw;
	}
	.medium {
		grid-template-columns: repeat(6, 1fr);
		--medium-card-width: 10vw;
	}
	.hard {
		grid-template-columns: repeat(8, 1fr);
		--medium-card-width: 7vw;
	}
.card-container {
	--container-width: clamp(2rem, var(--medium-card-width), 5rem);
	width: var(--container-width);
	height: calc(var(--container-width)*1.5);
}

[class^=memory-card] {
	/*width: clamp(2rem, var(--medium-card-width), 5rem);*/
	--card-width: clamp(2rem, var(--medium-card-width), 5rem);
	width: var(--card-width);
	/*height: calc(var(--card-width)*1.5);*/
}

/*
Dobble
*/

#dobble {
	position: relative;
	height: 95svh;
	width: 95svw;
	--game-card-width: min(50vw, 85vh);
	
	#game-master {
		width: var(--game-card-width);
		/*height: calc(1.5*(var(--game-card-width)));*/
		border: 2px solid;
		border-radius: 2em;
		margin: 2em auto;
		padding: 1em;
		&:has(.fade-out) {
			transition: opacity 0.9s;
			opacity: 0;
			@starting-style {
				opacity: 1;
			}
		}
	}
	
	#player {
		/*position: absolute;
		bottom: 0;*/
		width: fit-content;
		border: 2px solid;
		margin: auto;
		padding: 1em;
	}
	.player-card {
		width: 8vw;
	}
	.size-0 {
		width: 5vw;
	}
	.size-1 {
		width: 8vw;
	}
	.size-2 {
		width: 11vw;
	}
	.size-3 {
		width: 13vw;
	}
	.size-4 {
		width: 16vw;
	}
	.size-5 {
		width: 20vw;
	}
	/*
	.fade-out {
		transition: opacity 0.9s;
		opacity: 0;
		@starting-style {
			opacity: 1;
		}
	}
	*/
	.fade-in {
		animation: fade-in 0.9s ease-out forwards;
	}
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
