* {
		box-sizing: border-box;
		--flash-message-error: red;
		--flash-message-warning: orange;
		--flash-message-success: green;
		--flash-message-info: blue;
	}

	body {
	  padding: 10vh 0;
		overflow: auto;
		width: clamp(45ch, 50%, 70ch);
		margin: auto;
		background-color: black;
		filter: drop-shadow(0 0 10px white);
		font-family: "Comic Sans MS", "Comic Sans", "Sans-Serif";
		color: white;
		font-size: 1.5rem;	
	}
	
	main {
	  /*
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	  */
	  min-height: 75vh;
	  
	}
	
	footer {
	  /*position: absolute;
	  bottom: 0;*/
	  text-align: center;
	}
	h1 {
		color: red;
		text-align: center
	}
	.link {
		display: block;
		padding: 1em 2em;
	}
	a {
		color: lightblue; 
	}
	#flash-message {
	  border: 3px solid current-color;
	  &.error {
	    color : var(--flash-message-error);
	  }
	  &.warning {
	    color : var(--flash-message-warning);
	  }
	  &.success {
	    color: var(--flash-message-success);
	  }
	  &.info {
	    color: var(--flash-message-info);
	  }
	}
	#main-menu {
	  width: 100%;
	  margin: auto;
	  .main-menu-list {
	    display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	    .main-menu-item {
	      display:; block;
	      list-style: none;
	    }
	  }
	}

	/* Forms  */
	fieldset {
	  margin: 1rem;
	  border-radius: 1rem;
	}
	/*
	input[type=text], label {
	  display: block;
	  width: 100%;
	  margin: 1em auto;
	}
	input[type=text] {
	  width: 20em;
	  height: 3em;
	}
	label {
	  text-align: center;
	}
	*/
	
	.additional-parameters {
	  display: none;
	}
	input[type=radio]:checked ~ .additional-parameters {
	  display: block;
	}
	/* Main menu */
	#solution-zone {
	border: 2px solid green;
	color: green;
	font-size: 2rem;
	height: 3rem;
  }


.sample-symbol {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	margin: 0.7rem;
	font-size: 2.8rem;
	text-align: center;
	& img {
		width: 2.8rem;
	}
}
.scroll-images {
	display: inline-block;
	/*width: 3em;*/
}

/*
Memory
*/
#memory {
	display: grid;
	column-gap: 1rem;
	row-gap: 1.5rem;
}
.easy {
		grid-template-columns: repeat(4, 1fr);
		--card-width: 15vw;
	}
	.medium {
		grid-template-columns: repeat(6, 1fr);
		--card-width: 10vw;
	}
	.hard {
		grid-template-columns: repeat(8, 1fr);
		--card-width: 7vw;
	}

[class^=memory-card] {
	width: clamp(2rem, var(--card-width), 5rem);
}
