<main>
    <section id="workshop">
        <form
            method="post"
            action="<?= ROOT_URL ?>/game/displayGame/<?= $id ?>"
            id="main-form"
        >
            <fieldset>
                <legend>Choisir le message et le jeu</legend>
                <p>
                    <label for="title">Titre de l'énigme</label>
                    <input
                        type="text"
                        name="title"
                        id="title"
                        placeholder="donnez un nom à l'énigme (facultatif)"
                        value="<?= $content['title'] ?? '' ?>"
                    />
                </p>
                <p>
                  <label for="receiver-login">
                    E-mail de la personne à qui vous souhaitez envoyer l'énigme
                  </label>
                  <input type="email" name="receiver-login" id="receiver-login" placeholder="Cette énigme est pour..." value="<?= $receiverLogin ?? '' ?>"/>
                </p>
                <p>
                    <label for="message">Ecrivez votre message</label>
                    <input
                        type="text"
                        placeholder="Le message à coder"
                        name="message"
                        id="message"
                        value="<?= $content['message'] ?? ''?>"
                    />
                </p>
                <p>
                    <label for="chosen-game">choisissez le jeu</label>
                    <select
                        id="chosen-game"
                        name="chosen-game"
                        onchange="displayAdditionalForm()"
                    >
                        <option value=""></option>
                        <option value="letters-to-symbols" <?= isSelected($content, 'chosen-game', 'letters-to-symbols') ?>>
                            substitution de lettres
                        </option>
                        <option value="flags" <?= isSelected($content, 'chosen-game', 'flags') ?>>Drapeaux</option>
                        <option value="scroll-images"  <?= isSelected($content, 'chosen-game', 'scroll-images') ?>>
                            Images alternantes
                        </option>
                        <option value="memory" <?= isSelected($content, 'chosen-game', 'memory') ?>>Memory</option>
                        <option value="dobble" <?= isSelected($content, 'chosen-game', 'dobble') ?>>Dobble</option>
                    </select>
                </p>
            </fieldset>
            <div id="additional-form"></div>

            <template id="difficulty">
                <fieldset>
                    <legend>Choisir la difficulté</legend>

                    <input
                        type="radio"
                        id="easy"
                        name="difficulty"
                        value="easy" 
						<?= isChecked($content, 'difficulty', 'easy') ?>
                    />
                    <label for="html">facile</label><br />
                    <input
                        type="radio"
                        id="medium"
                        name="difficulty"
                        value="medium"
						<?= isChecked($content, 'difficulty', 'medium') ?>
                    />
                    <label for="medium">moyen</label><br />
                    <input
                        type="radio"
                        id="hard"
                        name="difficulty"
                        value="hard"
						<?= isChecked($content, 'difficulty', 'hard') ?>
                    />
                    <label for="hard">difficile</label>
                </fieldset>
            </template>

            <template id="graphic-theme">
                <fieldset>
                    <legend>Choisir le thème graphique</legend>

                    <input
                        type="radio"
                        id="christmas"
                        name="graphic-theme"
                        value="christmas"
						<?= isChecked($content, 'graphic-theme', 'christmas') ?>
                    />
                    <label for="christmas">Noël</label><br />
                    <input
                        type="radio"
                        id="halloween"
                        name="graphic-theme"
                        value="halloween"
						<?= isChecked($content, 'graphic-theme', 'halloween') ?>
                    />
                    <label for="halloween">Halloween</label><br />
                    <input
                        type="radio"
                        id="music"
                        name="graphic-theme"
                        value="music"
						<?= isChecked($content, 'graphic-theme', 'music') ?>
                    />
                    <label for="music">Musique</label><br />
                </fieldset>
            </template>
            <!--
				<button onclick="displayPreview()">Prévisualisation</button>
				-->

            <button type="button" onclick="displayPreview()">
                Prévisualisation
            </button>
            <input type="hidden" name="id" value="<?= $id ?>" />
            <input type="hidden" name="owner" value="<?= $owner ?>" />
            <input type="hidden" name="receiver" value="<?= $receiver ?>" />
            <input type="hidden" name="grid" value="<?= $grid ?>" />
            <input type="hidden" name="cell" value="<?= $cell ?>" />
		    <input type="submit" value="Valider" />
		  
        

    <section id="preview">
        <h2>Le résultat ici:</h2>
        <div id="instructions"></div>
        <div id="game-zone"></div>
    </section>
		  </form>
    </section>

</main>
<script>window.onload = function() {
  displayAdditionalForm();
};
</script>
