<form
    method="post"
    action="<?= ROOT_URL ?>/grid/displayGrid/<?= $id ?>"
    id="grid-edit-form"
    class="grid-form"
>
    <fieldset class="grid-form_frame">
        <legend>Que Voulez-vous créer?</legend>
        <div class="grid-form_frame--single">
            <input type="radio" name="frame" value="single" id="single" />
            <label for="single">Une énigme unique</label>
        </div>

        <div class="grid-form_frame--set">
            <input type="radio" name="frame" value="set" id="set" />
            <label for="set">Une série de jeux indépendants</label>
            <section class="additional-parameters">
                <label for="number-of-games">Nombre de jeux</label>
                <input
                    type="number"
                    min="1"
                    max="30"
                    name="numberOfCells"
                    value="<?= $numberOfGames ?? 4 ?>"
                    id="number-of-games"
                />
            </section>
        </div>

        <div class="grid-form_frame--board">
            <input type="radio" name="frame" value="board" id="board" />
            <label for="board">Une suite de jeux</label>
            <section class="additional-parameters">
                <label for="number-of-cells">Nombre de jeux</label>
                <input
                    type="number"
                    min="1"
                    max="30"
                    name="numberOfCells"
                    value="<?= $numberOfCells ?? 4 ?>"
                    id="number-of-cells"
                />
            </section>
        </div>

        <div class="grid-form_frame--calendar">
            <input type="radio" name="frame" value="calendar" id="calendar" />
            <label for="calendar">Un calendrier</label>
            <section class="additional-parameters">
                <label for="start-date">Premier jour</label>
                <input
                    type="date"
                    name="startDate"
                    value="<?= $startDate ?>"
                    id="start-date"
                />
                <label for="end-date">Dernier jour</label>
                <input
                    type="date"
                    name="endDate"
                    value="<?= $endDate ?>"
                    id="end-date"
                />
            </section>
        </div>
    </fieldset>

    <fieldset class="grid-form_name">
        <label for="grid-name">Nom du jeu:</label>
        <input
            type="text"
            name="gridName"
            value="<?= $gridName ?? '' ?>"
            id="grid-name"
        />
    </fieldset>

    <fieldset class="grid-form_receiver">
        <label for="receiver">Destinataire du jeu</label>
        <!--
        <div>
            <input type="radio" name="receiver" value="self" id="self" />
            <label for="self">Moi-même</label>
        </div>

        <div>
            <input type="radio" name="receiver" value="public" id="public" />
            <label for="public">Tout le monde</label>
        </div>

        <div>
            <input type="radio" name="receiver" value="e-mail" id="e-mail" />
            <label for="email">Un(e) amie, je renseigne son e-mail</label>
            -->
        <input 
          type="text" 
          <!-- type="email" -->
          name="receiver" 
          value="<?= $receiver ?? '' ?>"
        />
        <!--</div>-->
    </fieldset>
    <input type="hidden" name="id" value="<?= $id ?>" />
    <button type="button" onclick="displayPreview()">Prévisualisation</button>
    <!--<input type="hidden" name="id" value="<?= $id ?>">-->
    <input type="submit" value="Valider" />
</form>
