<form
    method="post"
    action="<?= ROOT_URL ?>/user/connect"
    id="user-connect-form"
>
    <fieldset>
        <legend>Connexion utilisateur</legend>
        <p>
        <label for="login">Adresse e-mail</label>
        <input type="email" name="login" id="login" />
        </p>
        <p>
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" />
        </p>
        <input type="submit" value="Connexion" />
        <p>
            Pas encore de compte?
            <a href="<?= ROOT_URL ?>/user/register">S'inscrire</a>
        </p>
    </fieldset>
</form>
