<main>
		<section id="workshop">
		  
			<form  method="post" action="<?= ROOT_URL ?>/game/displayGame/<?= $gridId ?>/<?= $cellNumber ?>" id="main-form">
			  <input type="hidden" name="gridId" value="<?= $gridId ?>">
		  <input type="hidden" name="cellNumber" value="<?= $cellNumber ?>">
			<fieldset><legend>Choisir le message et le jeu</legend>
				<p>
				<label for="message">Ecrivez votre message</label>
				<input type="text" placeholder="Le message à coder" name="message" id="message">
				</p>
				<p>
				<label for="game">choisissez le jeu</label>
				<select id="choosen-game" name="choosen-game" onchange="displayAdditionalForm()">
				<option value=""></option>
					<option value="letters-to-symbols">substitution de lettres</option>
					<option value="flags">Drapeaux</option>
					<option value="scroll-images">Images alternantes</option>
					<option value="memory">Memory</option>
				</select>
				</p>
			</fieldset>
				<div id="additional-form">
				</div>

				<template id="difficulty">
				<fieldset><legend>Choisir la difficulté</legend>
				
						<input type="radio" id="easy" name="difficulty" value="easy">
						<label for="html">easy</label><br>
						<input type="radio" id="medium" name="difficulty" value="medium">
						<label for="medium">medium</label><br>
						<input type="radio" id="hard" name="difficulty" value="hard">
						<label for="hard">hard</label>
				</fieldset>	
				</template>
				
				<template id="graphic-theme">
				<fieldset><legend>Choisir le thème graphique</legend>
				
						<input type="radio" id="christmas" name="graphic-theme" value="christmas">
						<label for="christmas">Noël</label><br>
						<input type="radio" id="halloween" name="graphic-theme" value="halloween">
						<label for="halloween">Halloween</label><br>
						<input type="radio" id="music" name="graphic-theme" value="music">
						<label for="music">Musique</label><br>
				</fieldset>		
				</template>
				<!--
				<button onclick="displayPreview()">Prévisualisation</button>
				-->
			
			<button type="button" onclick="displayPreview()">Prévisualisation</button>
			<!--<input type="hidden" name="id" value="<?= $id ?>">-->
			<input type="submit" value="Valider">
			</form>
		</section>
		
		<section id="preview">
			<h2>Le résultat ici:</h2>
			<div id="demo"></div>
		<section>
	</main>