<h1>Bonjour!</h1>
<p>
Je me présente: je suis le lutin facétieux. Je travaille dans l'atelier du Père Noël.
Un jour que je voulais m'amuser, je me suis glissé discrètement dans une maison où la famille avait l'habitude 
de remplir un joli calendrier de l'avent en bois, tous les ans en décembre, et j'ai subtilisé tous les chocolats pour les remplacer
par des énigmes permettant de découvrir, chaque jour, une nouvelle cachette pour les friandises quotidiennes.
Les enfants grandissant, j'ai décidé, pour rester dans le coup, de leur mettre leus énigmes en partie de façon numérique. 
J'ai pris ma petite tablette, j'ai pris quelques cours d'informatique (HTML, CSS, Javascript...) et je me suis amusé comme un petit fou!
Le résultat est ici:
<div class="link">
<a href="https://lutinfacetieux.net/2024">Calendrier de l'avent 2024</a>
</div>

Bien entendu, je ne suis pas un professionnel, et j'ai commencé à coder tout ça courant novembre pour que ce soit prêt le premier décembre,
donc c'est assez simple.
</p>
<p>
La plupart de ces énigmes viennent en compléments d'indices papier laissés par mes soins dans le calendrier de l'avent, Mais certaines peuvent se décoder entièrement en ligne: Le 
<a href="https://lutinfacetieux.net/2024/cell.html?cellNumber=cell4">4</a>,
le <a href="https://lutinfacetieux.net/2024/cell.html?cellNumber=cell5">5</a>, 
le <a href="https://lutinfacetieux.net/2024/cell.html?cellNumber=cell6">6</a>, 
le <a href="https://lutinfacetieux.net/2024/cell.html?cellNumber=cell14">14</a>, 
le <a href="https://lutinfacetieux.net/2024/cell.html?cellNumber=cell18">18</a>, 
le <a href="https://lutinfacetieux.net/2024/cell.html?cellNumber=cell20">20</a>, 
le <a href="https://lutinfacetieux.net/2024/cell.html?cellNumber=cell21">21</a>, 
le <a href="https://lutinfacetieux.net/2024/cell.html?cellNumber=cell22">22</a>, 
le <a href="https://lutinfacetieux.net/2024/cell.html?cellNumber=cell23">23</a>, 
le <a href="https://lutinfacetieux.net/2024/cell.html?cellNumber=cell24">24</a> (l'indice est <em>reveillon</em>), 
le <a href="https://lutinfacetieux.net/2024/cell.html?cellNumber=cell25">25</a> (ordre des couleurs: rouge, vert, bleu, jaune)...
</p>
Et puis je me suis dit que d'autres personnes pourraient avoir envie de profiter de mon savoir faire en matière d'énigmes et de codes secrets,
pour faire son propre calendrier, pour un jeu de piste, que sais-je, alors j'ai commencé à fabriquer mon générateur d'énigmes.
Ça avance doucement, au grès de mon temps libre; les premiers apperçus sont ici:
<div class="link">
<a href="https://lutinfacetieux.net/workshop">Mon atelier !</a>
</div>
À venir très prochainement:
<ul>
	<li>la possibilité de créer un compte pour sauvegarder ses créations</li>
	<li>la création d'un calendrier ou d'un jeu d'énigmes</li>
	<li>la possibilité d'inscrire un/des participants pour un jeu ou un calendrier</li>
	<li><s>une piscine à vagues</s></li>
</ul>
<p>
Bref, plein de projets, j'apprends le code en même temps c'est rigolo!
</p>